.App {
  text-align: left;
  background-color: #131212;
  height: 100vh;
  width: 100vw; 
  color: white;
  display: flex; 
  flex-direction: row;
  font-size: medium;
}

h2{
  margin: 0px;
  font-weight: 100;
}

h1{
  margin: 0px;
  font-weight: 300;
  color: rgb(2, 166, 207);
}

h3{
  margin: 0px;
  font-weight: 100;
}

li {
  list-style: none;
}

.active {
  color: rgb(2, 166, 207);
}

.nav{
  width: auto;
  padding: 2vw;
}

.content{
  background-color: rgb(7, 7, 8);
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

ul{
  margin: 0px;
}

.collapsible{
  height: 0px;
  overflow: hidden;
  transition: height ease-in-out 0.3s;
  margin: 0 auto;
}

